<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="theme-color" content="#239ad1" />
    <title>好想騎YouBike</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css"
        integrity="sha512-2KRz1UY/OYx7yBlulfAB4FqeSUMzlkvxCX6IalaJfhrihGo8lbY+AOm5isINAIcGV/sCqi7Pic6Mq6pznnP4mA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/main.css" />
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.umd.min.js"
        integrity="sha512-dG5ZzvFUfkBdjYdJbsKdGGh8tOa9fv9wHmiChCFJYHRIW1XgfxN2cGzt2HaEPeunXqbAQXBOJvSBQpGOl0qikw=="
        crossorigin="anonymous"></script>

    <div id="ChannelWrapper" class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="channel">
                    <div class="channel-img">
                        <img src="/static/images/logo.png" />
                    </div>
                    <p class="channel-name">
                        好想騎YouBike
                    </p>
                    <p class="channel-id">
                        @072vfomb
                    </p>
                    <div class="channel-qr">
                        <img src="https://qr-official.line.me/sid/M/072vfomb.png" />
                    </div>
                    <a href="https://lin.ee/pUeFyfY"><img
                            src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" height="36"
                            border="0"></a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>
            &copy; 2020 FawenYo 版權所有。
        </p>
    </footer>
</body>

</html>